body {
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
background-color: white;
}
table{

    border-collapse: collapse;
    width: 400px;
    height: 400px;
}
.black {
   background-color: rgb(41, 41, 41)
}
.white {
  background-color: rgb(219, 218, 218);
}

td  {
   width: 60px;
   height: 60px;
   
}